<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Account Settings UI Design</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
              name="viewport" />
        <link rel="stylesheet"
              type="text/css"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Poppins:wght@300&display=swap"
              rel="stylesheet" />
        <style>
      @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Poppins:wght@300&display=swap");
      body {
        background: #023047;
        font-family: "poppins", sans-serif;
      }

      .shadow {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
      }

      .profile-tab-nav {
        min-width: 250px;
      }

      .tab-content {
        flex: 1;
      }

      .form-group {
        margin-bottom: 1.5rem;
      }

      .nav-pills a.nav-link {
        padding: 15px 20px;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        color: #333;
      }
      .nav-pills a.nav-link i {
        width: 20px;
      }

      h1 {
        color: white;
        font-style: 'poppins', sans-serif;
      }
        </style>
        <script>
            $(document).ready(function () {
                get_posts("{{user_info.username}}")
            })
            function sign_out() {
                $.removeCookie('mytoken', { path: '/' });
                alert('Signed out!');
                window.location.href = "/login";
            }
            function update_profile() {
                let name = $("#input-username").val();
                let password = $("#input-password").val();
                let form_data = new FormData();
                form_data.append("username_give", name);
                form_data.append("password_give", password);
                console.log(name, password, form_data);
                $.ajax({
                    type: "POST",
                    url: "/update_profile",
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response["result"] === "success") {
                            alert(response["msg"]);
                            window.location.reload();
                        }
                    },
                });
            }
        </script>
    </head>
    <body>
        <section class="py-5 my-5">
            <div class="container">
                <h1 class="mb-5">Update Profile</h1>
                <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                    <div class="profile-tab-nav border-right">
                        <div class="p-4">
                            <div class="img-circle text-center mb-3"></div>
                            <div class="nav flex-column nav-pills"
                                 id="v-pills-tab"
                                 role="tablist"
                                 aria-orientation="vertical">
                                <a class="nav-link active"
                                   id="account-tab"
                                   data-toggle="pill"
                                   href="#dashboard"
                                   role="tab"
                                   aria-controls="dashboard"
                                   aria-selected="true">
                                    <i class="fa fa-home text-center mr-1"></i>
                                    Dashboard
                                </a>
                                <a class="nav-link"
                                   id="security-tab"
                                   data-toggle="pill"
                                   href="#update_profile"
                                   role="tab"
                                   aria-controls="update"
                                   aria-selected="true"
                                   onclick='$("#modal-edit").addClass("is-active")'>
                                    <i class="fa fa-user text-center mr-1"></i>
                                    Update Profile
                                </a>
                                <a class="nav-link"
                                   id="notification-tab"
                                   data-toggle="pill"
                                   href="#contact"
                                   role="tab"
                                   aria-controls="contact"
                                   aria-selected="false">
                                    <i class="fa fa-envelope text-center mr-1"></i>
                                    Contact Us
                                </a>
                                <a class="button level-item has-text-centered is-sparta is-outlined"
                                   aria-label="logout"
                                   onclick="sign_out()">
                                    Sign Out&nbsp;&nbsp;&nbsp;<span class="icon is-small"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                        <div class="tab-pane fade show active"
                             id="account"
                             role="tabpanel"
                             aria-labelledby="account-tab">
                            <h3 class="mb-4">Update Profile</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label" for="input-username">Username</label>
                                        <input id="input-username"
                                               type="text"
                                               class="input"
                                               placeholder="Your new username"
                                               value="{{ user_info.profile_name }}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label" for="input-password">Password</label>
                                        <input id="input-password"
                                               type="text"
                                               class="input"
                                               placeholder="Your new password"
                                               value="{{ user_info.profile_password }}" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" onclick="update_profile()">Update</button>
                                <button class="btn btn-light"
                                        onclick='$("#modal-edit").removeClass("is-active")'>Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
